# Base de datos
intrusiones.db
*.db
*.sqlite
*.sqlite3

# Archivos y carpetas CIC
datasets/

# Carpeta de ips ids funcionales de github
ips-ids funcionales de github/

# Python / Entorno
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/

# Evidencias y logs
evidencia/
*.log
logs_bloqueos.txt
logs_bloqueos.log

# Datasets y Numpy Arrays pesados (>100MB)
Dataset/
Dataset_Limpio/
*.npy
*.csv

# Ignorar todos los modelos excepto la versión 4
Modelos_Entrenados/*
!Modelos_Entrenados/*v4*

# Carpetas de respaldo y reportes pesados
Backup_v1/
catboost_info/
*.docx
*.xlsx